.container{
  background: #5060CC;
background: linear-gradient(to bottom,  #A60D9C,  #6505A6);
color: #FFF;
height: 60px;
padding-left: 18px;
border-radius: 5px;
  display: flex;
  /* margin: 10%; */
  justify-content: space-between;
  align-items: center;
}

.cssFont_1 {
  font-family: 'Get Schwifty', sans-serif;
  font-size: 30px;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  /* font-al */

  }

.link{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
letter-spacing: 0px;
word-spacing: 0px;
/* color: #000000; */
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

.img{
  /* background: url(../../imgs/logoo.png) center center/cover no-repeat;
  /* background-color: rgb(255, 255, 255); */
/*   
  display: grid;
  position: relative; */ 
  /* width: 50px; */
  height: 90%;
}

@media screen and (max-width: 500px) {

  .container{
    background: #5060CC;
    background: linear-gradient(to bottom,  #A60D9C,  #6505A6);
    color: #FFF;
    height: 80px;
    padding-left: 5px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

.link{
  margin-top: 5px;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 6px;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}
.img{
  height: 1%;
}
}