.container {
  /* background-color: rgba(0, 255, 255, 0.421); */
  /* margin: 2px 2px 2px 2px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  align-items:stretch;
}

.imgAdd{
  width: 50%;
}

.titulo{
  font-size: 80px;
  color: white;
  /* font-family: 'get_schwifty';
  src: url('../fonts/get_schwifty.ttf') format('truetype'); */
  font-style: italic;
  font-weight: bolder; 
}
  
