.container {
  background-color: rgba(0, 255, 255, 0.305);
  background: url(../../imgs/card3.png) center center/cover no-repeat;

  display: grid;
  position: relative;
  width: 250px;
  height: 410px;
}

.container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.imgStyle{
  clip-path: polygon(  10% 0%,  90% 0%, 
                     100% 10%, 100% 90%, 
                     90% 95%, 10% 95%, 
                       0% 90%, 0% 10%);
  width: 78%;
  position: absolute;
  top : 2%;
  left: 11%;
 }

 .id{
  background-color: black;
  color: white;
  position : absolute;
  margin: 1%;
  bottom : 1%;
  right: 4%;  
}
  
.closeButton {
  position: absolute;
  top: 1%;
  right: 1%;
  border-radius: 2px;
  background-color: red;
  color: white;
}
/* 
 .details{
  background-color: rgba(0, 255, 255, 0.604);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}  */

.name{
  color: white;
  position: absolute;
  right: 10%;
  left: 10%;
  top: 48%;
}

.status {
  color: white;
  font-size: small;
  position: absolute;
  right: 42%;
  top: 62%;
}

.origin {
  color: white;
  font-size: small;
  position: absolute;
  right: 2%;
  top: 2%;
}

.genero {
  color: white;
  font-size: small;
  position: absolute;
  right: 42%;
  top: 73%;
}
.specie {
  color: white;
  font-size: small;
  position: absolute;
  right: 41%;
  top: 85%;
}
/* .h4a {
  color: white;
  font-size: small;
} */


/* .wrapperT {
  width: 100%;
  height: 0.5em; 
  position: relative;
} */

/* .genero{
  color : rgb(255, 255, 255);
  border-radius: 5px;
}

.especie{
  color : rgb(255, 255, 255);
  /* border: 5px;   
  border-radius: 5px; 
}  */

/* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */







/* .button {
  color: aliceblue;
  background-color: red;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
} */

/* .button:hover {
  transform: scale(1.1);
} */

/* .buttonContainer {
  display: flex;
  justify-content: flex-end;
} */

/* .props {
  display: flex;
  justify-content: center;
} */

/* .image {
  width: 70%;
  border-radius: 15%;
} */